/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Use #ID_NAME to create styles for id
 * -fx-ATTRIBUTE_NAME:DETAILS to add attributes to an id
 * .root to change attributes to the scene
 * .OBJECT to change attributes for a whole groups or items, eg all buttons, all labels
 */
.root {
	-fx-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

#background{
	-fx-background-image: url("background.jpg");
	-fx-background-position: left top, center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	}

#menuCircleButtons{
	-fx-background-radius: 5em; 
    -fx-min-width: 130px; 
    -fx-min-height: 130px; 
    -fx-max-width: 130px; 
    -fx-max-height: 130px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#readyCircleButton{
	-fx-background-radius: 5em; 
    -fx-min-width: 120px; 
    -fx-min-height: 120px; 
    -fx-max-width: 120px; 
    -fx-max-height: 120px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#background{
	-fx-background-image: url("background.jpg");
	-fx-background-size: cover;
}

#englishTranslation{
	-fx-font-size: 13;
	-fx-text-fill: #686868;
}

#circleButton{
	-fx-background-radius: 5em; 
    -fx-min-width: 100px; 
    -fx-min-height: 100px; 
    -fx-max-width: 100px; 
    -fx-max-height: 100px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#backButton{
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10em; 
	-fx-font-weight: BOLD;
	
}

.button:hover{
	-fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.button:pressed{
	-fx-effect: innershadow( one-pass-box , grey , 4 , 0.0 , 2 , 0 ); 
}

#dialog{
	-fx-background-color: linear-gradient(to right, #cb2d3e, #ef473a);
}

.list-view.scroll-bar:vertical .decrements-arrow,
.list-view.scroll-bar:vertical .increment-button,
.list-view.scroll-bar:vertical .decrement-button {
	-fx-scale-x : 0;
}
