/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Use #ID_NAME to create styles for id
 * -fx-ATTRIBUTE_NAME:DETAILS to add attributes to an id
 * .root to change attributes to the scene
 * .OBJECT to change attributes for a whole groups or items, eg all buttons, all labels
 */
.root {
	-fx-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

#background{
	-fx-background-image: url("File:Resources/background.jpg");
	-fx-background-position: left top, center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	}

#menuCircleButtons{
	-fx-background-radius: 10em; 
    -fx-min-width: 170px; 
    -fx-min-height: 170px; 
    -fx-max-width: 170px; 
    -fx-max-height: 170px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#background{
	-fx-background-image: url("background.jpg");
	-fx-background-size: cover;
}

#englishTranslation{
	-fx-font-size: 17;
	-fx-text-fill: #424141;
}

#circleButton{
	-fx-background-radius: 7em; 
    -fx-min-width: 140px; 
    -fx-min-height: 140px; 
    -fx-max-width: 140px; 
    -fx-max-height: 140px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#backButton{
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10em; 
	-fx-font-weight: BOLD;
	
}

.button:hover{
	-fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.button:pressed{
	-fx-effect: innershadow( one-pass-box , grey , 4 , 0.0 , 2 , 0 ); 
}

.list-view.scroll-bar:vertical .decrements-arrow,
.list-view.scroll-bar:vertical .increment-button,
.list-view.scroll-bar:vertical .decrement-button {
	-fx-scale-x : 0;
}


#roundedSquare {
	-fx-arc-width: 210;
	-fx-arc-height: 210;
}

#smallCircleButton{
	-fx-background-radius: 6em; 
    -fx-min-width: 80px; 
    -fx-min-height: 80px; 
    -fx-max-width: 80px; 
    -fx-max-height: 80px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

#tryAgainButton{
	-fx-background-radius: 7em; 
    -fx-min-width: 110px; 
    -fx-min-height: 110px; 
    -fx-max-width: 110px; 
    -fx-max-height: 110px; 
    -fx-background-insets: 0px; 
    -fx-padding: 0px;
}

.list-cell{
    -fx-font-size: 13pt;
}

